
div.apodtitle {
	font-size: 12pt;
	font-weight: 900;
	text-decoration: underline;
	margin-bottom: 0.5em;
}

div.apoddescription {
	font-size: 9pt;
	font-weight: 300;
	margin-bottom: 0.5em;
}

span.apodtabletoclistentpagenumber {
	font-style: italic;
}

div.apodtableslistent {
	font-size: 10pt;
	font-style: italic;
}

.apodtableslisttitle {
	font-style: normal;
}

