
div.apodtitle {
	font-size: 12pt;
	font-weight: 900;
	text-decoration: underline;
	margin-bottom: 0.5em;
}

div.apoddescription {
	font-size: 9pt;
	font-weight: 300;
	margin-bottom: 0.5em;
	white-space: pre-wrap;
}

span.apodtabletoclistentpagenumber {
	font-style: italic;
}

div.apodtableslistent {
	font-size: 10pt;
	font-style: italic;
}

.apodtableslisttitle {
	font-style: normal;
}

div.apodnotes {
	font-size: 9pt;
}

.apodnoteshead {
	font-weight: 300;
}

ul.apodnoteslist {
	margin: 0px;
	margin-bottom: 0.5em;
	padding: 0px;
	padding-left: 1.5em;
	white-space: pre-wrap;
	font-weight: 300;
}

div.apodsources {
	font-size: 9pt;
}

.apodsourceshead {
	font-weight: 300;
}

ul.apodsourceslist {
	margin: 0px;
	margin-bottom: 0.5em;
	padding: 0px;
	padding-left: 1.5em;
	white-space: pre-wrap;
	font-weight: 300;
}

.apodsourcepreftitle {
	font-weight: 300;
}

.apodsourcepreftitle:hover {
	text-decoration: underline;
}

.apodsourceprefpage {
	font-weight: 300;
	font-style: italic;
}

table.apodtable {
	border: 1px solid black;
	border-right: none;
	border-bottom: none;
	font-size: 10px;
	margin: 0px;
	margin-bottom: 0.5em;
	border-spacing: 0px;
	text-align: left;
}

tr.apodtablehead > th {
	background-color: #DFDFDF;
}

tr.apodtablehead > th,td {
	font-weight: 900;
	padding: 0.1em;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
	white-space: pre-wrap;
	vertical-align: top;
}

tr.apodtablerow > th,td {
	font-weight: 300;
	white-space: pre-wrap;
	vertical-align: top;
}

td.nowrap {
	white-space: pre;
}

.apodsourceidx {
	color: #0000DF;
	font-weight: 300;
	text-decoration: none;
}

.apodsourceidxref {
	color: #0000DF;
	font-weight: 300;
	text-decoration: none;
	font-size: 0.9em;
	white-space: pre;
}

a.apodsourcepreftitle {
	color: black;
	font-weight: 300;
	text-decoration: none;
}

a.apodsourcepreftitle:hover {
	text-decoration: underline;
}

li.apodsourceref:target {
	background-color: #CFFFCF;
}

.apodsourcejsonfile {
	font-weight: 300;
}

.apodenttag {
	color: #007F00;
	font-weight: 300;
	font-style: none;
	font-size: 0.75em;
	white-space: pre;
}

.apodarrcmbent {
}

.apodarrcmbent:hover {
	background: #EFEFEF;
}

span.fmtmonospace {
	font-family: 'Lucida Console', monospace;
}

.apodbitfieldtablehead > th {
	background-color: #DFDFDF;
}

.apodbitfieldtablehead > td,th {
	font-weight: 900;
	padding: 0.1em;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
	vertical-align: top;
	white-space: pre;
}

.apodbitfieldtablecol {
	background-color: #FFFFFF;
}

.apodbitfieldtablecol:hover {
	background-color: #EFEFEF;
}

.apodbitfieldtable {
	table-layout: fixed;
	border: 1px solid black;
	border-right: none;
	border-bottom: none;
	font-size: 10px;
	margin: 0px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-spacing: 0px;
	text-align: left;
	width: 80em;
}

.apodbitfieldtablerow {
	font-weight: 300;
	white-space: pre-wrap;
	vertical-align: top;
	font-size: 0.9em;
}

.apodbitfieldtablenodef {
	background-color: #7F7F7F;
}

.apodenumtable {
	border: 1px solid black;
	border-right: none;
	border-bottom: none;
	font-size: 10px;
	margin: 0px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-spacing: 0px;
	text-align: left;
	width: 20em;
}

.apodenumtablerow {
	font-weight: 300;
	white-space: pre-wrap;
	vertical-align: top;
	font-size: 0.9em;
}

.apodenumtablecolidx {
	/* minimize width */
	width: 1px;
	white-space: pre;
	background-color: #DFDFEF;
}

