@bruh;
@test 1 2 3 "asdf";
h1 {
	asdf: donkey;
}
h1.class.cl2#id#id2:hover:first-child {
	name: pingas;
	value: "asdf" 1 2 3;
}

{
	yay: ;
	donkey: auto;
	bruh: hah;
}

h2;

h1, h2 {
	name: value;
}

h1 h2 {
	name: value;
}

h1 + h2 {
	name: value;
}

h1 > h2 {
	name: value;
}

h1 * h2 {
	name: value;
}

h1, h2, h3, h4, h5, h6 {
	name: value;
}

h1.c1, h2.c1.c2, h3:hover, h4.cls#id:hover, h5, h6 {
	name: value;
}

h1[attr] {
	name: value;
}

h1[attr=hello] {
	name: value;
}

h1[attr=hello world] {
	name: value;
}

h1[attr~=hello] {
	name: value;
}

h1[attr|=hello] {
	name: value;
}

h1[attr^=hello] {
	name: value;
}

h1[attr$=hello] {
	name: value;
}

h1[attr*=hello] {
	name: value;
}

h1 {
	name: value;
	h2 {
		name: value;
	}
}

h1 {
	h2 {
		name: value;
		h3 {
			name: value;
		}
	}
	name: value;
}

h1 {
	@bruh what?;
	name: value;
}

@bruh model { }

