
 	 


/*comment*/
/*another comment
 *another one*/
 	 
/*aaaaaa*/
ident _ident_ _ident192_ -ident --ident123 -identâœ  --123ident ident1 pause ident\31 pause ident\000031 done âœ testing 123 1.2 1.442 -133 -.5 .5 1e2 -1e2 1e-4;
idname: ident;

